* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;    
}

body {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-home {
    height: 100%;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    border-right: 1px solid #252525;
}

@media screen and (max-width: 760px) {
    .main-home {
        display: none;
    }

    .m-uname {
        display: none;
    }
}

.menu i {
    font-size: 28px;
    color: #fff;
}

.menu1 {
    margin-top: 12px;
    padding: 0px 0px 23px 0px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px 2px 0px;
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
}

.menu:hover {
    background-color: #303531;
}

.menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px 2px 0px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.menu6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px 2px 0px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.menu2 i {
    font-size: 28px;
    color: #fff;
}

.menu6 i {
    font-size: 28px;
    color: #fff;
}

.menu2:hover{
    background-color: #303531;
}

.menu6:hover{
    background-color: #303531;
}

.profile-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.m-username {
    display: flex;
    align-items: center;
    padding: 36px 24px 12px;
    border-right: 1px solid #252525;
}

.m-uname {
    display: flex;
    align-items: center;
}

.m-uname span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 800;
    cursor: pointer;
}

.m-uname a i {
    color: #fff;
    font-size: 20px;
}

/* .messageclick {
    position: absolute;
    top: 354px;
} */

.likeclick {
    position: absolute;
    top: 410px;
}


.main-home1 {
    display: flex;
}

.new-mssg {
    padding: 0px 0px 0px 12px;
    margin-left: 150px;
}

.new-mssgContent {
    padding: 8px;
}

.new-mssgContent a i {
    font-size: 25px;
    color: #fff;
}

@media screen and (max-width: 760px) {

    .m-username {
        display: flex;
        justify-content: center;
    }
    
    .m-uname {
        display: none;
    }

    .new-mssg {
        padding: 0px;
        margin: 0px;
        left: 0px;
    }

    .new-mssgContent {
        padding: 0px;
    }

    .new-mssgContent a {
        padding-left: 0px;
    }

}

.m-stry {
    overflow-y: scroll;
    height: 562px;
}

.m-stryCont {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

li {
    display: inline-block;
}

.m-strycont1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    cursor: pointer;
}

.m-strycont1 img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.m-strycont1 span {
    padding-top: 5px;
    color: #d4d3d3;
    font-size: 12px;
}

@media screen and (max-width: 760px) {

    .m-stryinsde {
        display: none;
    }
}

.heding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px 10px;
}

.heding h1 {
    color:#fff;
    font-size: 17px;
    font-weight: 800;
    padding-right: 20px;
}

.heding span {
    color: #d4d3d3;
    padding-right: 30px;
    font-size: 15px;
    cursor: pointer;
}

.mesgContnt {
    padding: 8px 24px;
    cursor: pointer;
}

.mesgContnt:hover {
    background-color: #303531;
}

.mesgConP {
    padding-right: 10px;
    display: flex;
}

.mesg1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-right: 10px;
}

.mesg1 img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.mesg-whole {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mesg-nme {
    height: 20px;
    margin-top: 8px;
}

.mesg-nme2 {
    width: 100%;
    height: 5px;
}

.mesg-nme3 {
    height: 20px;
}

.mesg-nme span {
    color: #fff;
    font-size: 13px;
}

.mesg-nme3 span {
    color: #adadad;
    font-size: 11.5px;
}

.mesg-dat {
    color:#424242;
}

@media screen and (max-width: 760px) {
    .mesg-whole {
        display: none;
    }
}

.messg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.messg-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 16px 0 16px;

}

.messg-logo {
    border : 2px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messg-logo i {
    font-size: 60px;
    color: #fff;
    font-weight: 300;
}

.messg-cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px 0 16px;
}

.messg-cont1 span {
    color: #fff;
    font-size: 20px;
}

.messg-cont2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 0 16px;
}

.messg-cont2 span {
    font-size: 14px;
    color: #fff;
}

.messg-cont3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px 0 16px;
}

.messg-cont3Btn {
    border-radius: 10px;
    background-color: #068ff1;
    color: #fff;
    font-size: 14px;
    padding: 7px 16px;
    cursor: pointer;
}

.messg-cont3Btn:hover {
    background-color: #0160a3;
}

                                /* search-bar */

.search-bar {
    position: absolute;
    left: 92px;
    top: 0px;
    height: 150px;
    width: 380px;
    background: #000;
    border-radius: 10px;
}

.forward {
    animation: forward 1s;
}

@keyframes forward {
    0% {
        transform: translate(-500px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.backward {
    animation: backward 1s;
}

@keyframes backward {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(-500px, 0px);
    }
}

.search-bar2 {
    position: absolute;
    top: 150px;
    height: 494px;
    width: 380px;
    background-color: #000;
    overflow-y: scroll;
}

.search-bar .pahra1 {
    padding-left: 25px;
    padding-top: 28px;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.search-bar .pahra2 {
    padding-left: 10px;
    padding-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search {
    background-color: #424242;
    color: #fff;
}

.navbar hr {
    position: absolute;
    border: 0.1px solid #8b8989;
    top: 149.4px;
    right:0px;
    width: 380px;

}

#search {
    height: 45px;
    width: 350px;
    border-radius: 10px;
    border: 0.1px solid black;
    padding-left: 17px;
}

.search-bar2 .pahra1 {
    padding-left: 25px;
    padding-top: 28px;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search-bar2 span {
    position: absolute;
    top: 300px;
    left: 120px;
    color: #8b8989;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

                                      /* Notification Bar */


.notification-bar {
    position: absolute;
    left: 93px;
    top: 0px;
    height: 100%;
    width: 390px;
    background: #000;
    border-radius: 10px;
    padding-top: 8px;
}

.forward {
    animation: forward 1s;
}

@keyframes forward {
    0% {
        transform: translate(-500px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.backward {
    animation: backward 1s;
}

@keyframes backward {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(-500px, 0px);
    }
}

.notification-bar {
    overflow-y: scroll;
}

.notifi-hding {
    padding: 16px 24px 24px;
}

.notifi-hding span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.today-hding {
    margin: 0px 0px 18px;
    padding: 0px 24px;
}

.today-hding span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.today-notfi1 {
    padding: 8px 24px;
    cursor: pointer;
}

.today-notfi1:hover {
    background-color: #303531;
}

.notfi1Pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notfi1Pro .img1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.notfi1Pro .img2 {
    height: 50px;
    width: 50px;
    border-radius: 20%;
    /* object-fit: cover; */
}

.notfi1Pro span {
    color: #fff;
    font-size: 14px;
}

.notfi1Pro span .notfi1ProSpan {
    color:#adadad;
    font-size: 14px;
}

.notfi1req {
    padding: 8px 24px;
    color: #fff;
    display: flex;
}

.symbicon {
    margin: 0px 14px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbicon i {
    color:#424242;
    font-size: 25px;
}

.symbicon span {
    color: #fff;
    font-size: 14px;
}

.span2 {
    color:#adadad;
    font-size: 14px; 
}

.yesterday-notfi {
    margin: 10px 0px 10px 0px;
    border-top: 1px solid #303531;
    border-bottom: 1px solid #303531;
}

.yesterday-hding {
    margin: 22px 0px 18px;
    padding: 0px 24px;
}

.yesterday-hding span {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.yesterday-notfi1 {
    padding: 8px 24px;
    cursor: pointer;
    margin-bottom: 10px;
}

.yesterday-notfi1:hover {
    background-color: #303531;
}

.yestrNotfi1Pro img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.yestrNotfi1Pro span {
    font-size: 14px;
    color: #fff;
}

.yestrNotfi1Pro span.yestrNotfi1ProSpan {
    color:#adadad;
    font-size: 14px;
}

.yestrNotfi1Pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yestrNotfi1Pro button {
    background-color: #068ff1;
    padding: 7px 15px 7px 19px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.yestrNotfi1Pro button:hover {
    background-color: #0160a3;
}

.yestrNotfi1ProBtn {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.thisweek-notfi {
    padding-bottom: 15px;
    border-bottom: 1px solid #303531;
}

.thisweek-hding {
    margin: 22px 0px 18px;
    padding: 0px 24px;
}

.thisweek-hding span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgb(145, 144, 144);
    background-color: #000;
    align-items: center;
    visibility: hidden;
}

.footerP-img {
    padding-top: 5px;
}


.footerP-img img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.main-footer .div {
    padding: 12px;
    cursor: pointer;
}

.main-footer .div span {
    color: #fff;
    font-size: 28px;
}

@media screen and (max-width: 760px) {
    .main-footer {
        visibility: visible;
    }
}