@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;    
}

body {
    background: black;
}

:root {
    --gradient: linear-gradient(to right,#e2336b, #fcac46);
}

.navbar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: black;
    padding: 20px;
}



.logo img {
    width: 162px;
}

.menu {
    background-color: black;
}
.menu a {
    width: 220px;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 40px;
    margin-top: 1rem;
    border-radius: 10px;
}

.menu a:hover {
    background-color: #302f2f;
}

.menu .profile-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.menu .icon {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon2 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon3 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon4 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon5 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon6 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon7 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon8 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu .icon9 {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.menu a:hover::before,
.menu .active::before {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 2000px;
    background: #b9b7b7; 
}

.likeclick {
    position: absolute;
    top: 378px;
}

                                /* Drobdown menu Search Bar*/

.search-bar {
    position: absolute;
    left: 65px;
    top: 0px;
    height: 150px;
    width: 380px;
    background: #000;
    border-radius: 10px;
}

.forward {
    animation: forward 1s;
}

@keyframes forward {
    0% {
        transform: translate(-500px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.backward {
    animation: backward 1s;
}

@keyframes backward {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(-500px, 0px);
    }
}

.search-bar2 {
    position: absolute;
    top: 150px;
    height: 494px;
    width: 380px;
    background-color: #000;
    overflow-y: scroll;
}

.search-bar .pahra1 {
    padding-left: 25px;
    padding-top: 28px;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.search-bar .pahra2 {
    padding-left: 10px;
    padding-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search {
    background-color: #424242;
    color: #fff;
}

.navbar hr {
    position: absolute;
    border: 0.1px solid #8b8989;
    top: 149.4px;
    right:0px;
    width: 380px;

}

#search {
    height: 45px;
    width: 350px;
    border-radius: 10px;
    border: 0.1px solid black;
    padding-left: 17px;
}

.search-bar2 .pahra1 {
    padding-left: 25px;
    padding-top: 28px;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search-bar2 span {
    position: absolute;
    top: 300px;
    left: 120px;
    color: #8b8989;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (max-width: 1250px) {

    .navbar .logo {
        display: none;
    }

    .navbar p {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    .navbar {
        display: none;
    }
}

                                       /* Notification Bar */

.notification-bar {
    position: absolute;
    left: 65px;
    top: 0px;
    height: 100%;
    width: 390px;
    background: #000;
    border-radius: 10px;
    padding-top: 8px;
}

.forward {
    animation: forward 1s;
}

@keyframes forward {
    0% {
        transform: translate(-500px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.backward {
    animation: backward 1s;
}

@keyframes backward {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(-500px, 0px);
    }
}

.notification-bar {
    overflow-y: scroll;
}

.notifi-hding {
    padding: 16px 24px 24px;
}

.notifi-hding span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.today-hding {
    margin: 0px 0px 18px;
    padding: 0px 24px;
}

.today-hding span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.today-notfi1 {
    padding: 8px 24px;
    cursor: pointer;
}

.today-notfi1:hover {
    background-color: #303531;
}

.notfi1Pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notfi1Pro .img1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.notfi1Pro .img2 {
    height: 50px;
    width: 50px;
    border-radius: 20%;
}

.notfi1Pro span {
    color: #fff;
    font-size: 14px;
}

.notfi1Pro span .notfi1ProSpan {
    color:#adadad;
    font-size: 14px;
}

.notfi1req {
    padding: 8px 24px;
    color: #fff;
    display: flex;
}

.symbicon {
    margin: 0px 14px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbicon i {
    color:#424242;
    font-size: 25px;
}

.symbicon span {
    color: #fff;
    font-size: 14px;
}

.span2 {
    color:#adadad;
    font-size: 14px; 
}

.yesterday-notfi {
    margin: 10px 0px 10px 0px;
    border-top: 1px solid #303531;
    border-bottom: 1px solid #303531;
}

.yesterday-hding {
    margin: 22px 0px 18px;
    padding: 0px 24px;
}

.yesterday-hding span {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.yesterday-notfi1 {
    padding: 8px 24px;
    cursor: pointer;
    margin-bottom: 10px;
}

.yesterday-notfi1:hover {
    background-color: #303531;
}

.yestrNotfi1Pro img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.yestrNotfi1Pro span {
    font-size: 14px;
    color: #fff;
}

.yestrNotfi1Pro span.yestrNotfi1ProSpan {
    color:#adadad;
    font-size: 14px;
}

.yestrNotfi1Pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yestrNotfi1Pro button {
    background-color: #068ff1;
    padding: 7px 15px 7px 19px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.yestrNotfi1Pro button:hover {
    background-color: #0160a3;
}

.yestrNotfi1ProBtn {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.thisweek-notfi {
    padding-bottom: 15px;
    border-bottom: 1px solid #303531;
}

.thisweek-hding {
    margin: 22px 0px 18px;
    padding: 0px 24px;
}

.thisweek-hding span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
                               /* Main Home */
                               
.main-home {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 250px;
    background: black;
    border-radius: 1rem 0 0 1rem;   
    z-index: -1;
}

@media screen and (max-width: 900px) {

    .main-home {
        position: absolute;
        left:0px;
    }

}

.main-home .btn {
    background-color: #000;
    border: none;
    cursor: pointer;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    border-bottom: 1px solid #fff;
}

.setting1 {
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}

.userName {
    color: #fff;
}

.downArrow {
    color:#fff
}

.threads {
    color: #fff;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .nav {
        display:flex;
        width: 100%;
    }

    .main-home hr {
        display: flex;
    }

    .setting1 {
        align-items: center;
        padding-bottom: 10px;
    }

    .userName {
        position: absolute;
        left: 190px;
        align-items: center;
    }

    .threads {
        position: absolute;
        left: 450px;
    }

}

.mainProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid #424242;
    margin-left: 135px;
    margin-top: 70px;
}

.mainProfile img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}



.Uname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 45px;
    left: 390px;
}

.p1{
    color: #fff;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
}

.b1 {
    margin-left: 150px;
    width: 110px;
    height: 33px;
    border-radius: 10px;
    background-color: #474747;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.b1:hover {
    background-color: #302f2f;
}

.b2 {
    margin-left: 7px;
    width: 120px;
    height: 33px;
    border-radius: 10px;
    background-color: #474747;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.b2:hover {
    background-color: #302f2f;
}

.Uname .setting2 {
    font-size: 25px;
    color: #fff;
    margin-left: 8px;
}

@media screen and (max-width: 600px) {

    .mainProfile {
        width: 90px;
        height: 90px;
        margin-left: 10px;
        margin-top: 100px;
    }

    .mainProfile img {
        width: 80px;
        height: 80px;
    }

    .Uname {
        position: absolute;
        left: 123px;
        top: 85px;
    }

    .b1 {
        margin-left: 0px;
        margin-top: 90px;
    }

    .b2 {
        margin-top: 90px;
    }

    .setting2 {
        position: absolute;
        left : 140px;
    }
}

.myconnections {
    position: absolute;
    display: flex;
    text-align: center;
    top: 97px;
    left: 390px;
}

.posts span {
    position: absolute;
    left: 0px;
}

.posts {
    color: #fff;
    margin-left: 25px;
    cursor: pointer;
}

.followers span {
    position :absolute;
    left: 110px;
}

.followers {
    color: #fff;
    margin-left: 80px;
}

.following span {
    position: absolute;
    left: 255px;
}

.following {
    color: #fff;
    margin-left: 82px;
}

@media screen and (max-width: 600px) {

    .myconnections {
        position: absolute;
        left: 122px;
        top: 250px;
        display: none;
    }
}

.bio {
    position: absolute;
    left: 390px;
    top: 140px;
}

.name {
    color: #fff;
    font-size: 15px;
}

.Uthreads {
    color: #fff;
    background-color: #302f2f;
    padding: 5px 8px 5px 5px;
    border-radius: 15px;
    position: absolute;
    left :0px;
    top: 30px;
}

.Uthreads span {
    font-size: 13px;
    margin-left: 5px;
}

.mybio {
    color: #fff;
    padding-right: 140px;
    font-size: 13px;
}

@media screen and (max-width: 600px) {
    .bio {
        position: absolute;
        left: 15px;
        top: 275px;
    }
}

.stories {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
    padding-left: 20px;
    margin-left: 4rem;
}

.stories-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #424242;
}

.stories-img img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.stories-img .add {
    position: absolute;
    padding-bottom: 13px;
    font-size: 60px;
    border-radius: 50%;
    color: #757474;
}

.stories .btn1 {
    background-color: #000;
    border: none;
    margin-left: 40px;
    cursor: pointer;
}

.stories .btn2 {
    background-color: #000;
    border: none;
    margin-left: 47px;
    cursor: pointer;
}

.stories .btn3 {
    background-color: #000;
    border: none;
    margin-left: 47px;
    cursor: pointer;
}

.stories .btn4 {
    background-color: #000;
    border: none;
    margin-left: 47px;
    cursor: pointer;
}

.stories .btn5 {
    background-color: #000;
    border: none;
    margin-left: 47px;
    cursor: pointer;
}

.stories .btn6 {
    background-color: #000;
    border: none;
    margin-left: 47px;
    cursor: pointer;
}

.stories .btn7 {
    background-color: #000;
    border: none;
    cursor: pointer;
    margin-left: 47px;
}

.stories-arrow-right {
    position: absolute;
    top: 30px;
    font-size: 80px;         /* 40 font size*/
    left: 605px;
    color: #fff;
}

.btn1Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 50px;
}

.btn2Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 180px;
}

.btn3Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 308px;
}

.btn4Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 440px;
}

.btn5Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 590px;
}

.btn6Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 720px;
}

.btn7Caption {
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-top: 120px;
    margin-left: 861px;
}

@media screen and (max-width: 600px) {

    .stories {
        margin-left: 0px;
        margin-top: 160px;
        padding: 0px;
    }

    .stories-img {
        width: 63px;
        height: 63px;
        margin-left: 0px;
    }

    .stories-img img {
        width: 53px;
        height: 53px;
    }

    .stories .btn1 {
        margin-left: 5px;
    }

    .stories .btn2 {
        margin-left: 5px;
    }

    .stories .btn3 {
        margin-left: 5px;
    }

    .stories .btn4 {
        margin-left: 5px;
    }

    .stories .btn5 {
        margin-left: 5px;
    }

    .stories .btn6 {
        margin-left: 5px;
    }

    .stories .btn7 {
        margin-left: 5px;
    }

    .btn1Caption {
        margin-left: 7px;
        margin-top: 100px;
        font-size: 11px;
    }

    .btn2Caption {
        margin-left: 74px;
        margin-top: 100px;
        font-size: 11px;
    }

    .btn3Caption {
        margin-left: 142px;
        margin-top: 100px;
        font-size: 11px;
    }

    .btn4Caption {
        margin-left: 215px;
        margin-top: 100px;
        font-size: 11px;
    }

    .btn5Caption {
        margin-left: 295px;
        margin-top: 100px;
        font-size: 11px;
    }

    .btn6Caption {
        margin-left: 357px;
        margin-top: 100px;
        font-size: 11px;
    }

    .btn7Caption {
        margin-left: 433px;
        margin-top: 100px;
        font-size: 11px;
    }

}

.promenu {
    border-top: 1px solid #333;
    margin-top: 60px;
    margin-left: 75px;
    margin-right: 70px;
    display: flex;
    justify-content:center;
}

.promenu a {
    margin-right: 40px;
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 15px;
    color: #b6b4b4;
    font-size: 13px;
    position: relative;
    transition: color 0.3s ;
}

.tab.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.tab.active {
    color: #fff;
}

.promenu a i {
    padding-right: 5px;
}

@media screen and (max-width: 600px) {

    .promenu {
        margin-right: 0px;
        margin-left: 0px;
    }

    .promenu span {
        display: none;
    }

    .promenu a {
        font-size: 30px;
    }

}

.likeP {
    color: #fff;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.likeP i {
    padding-right: 5px;
}

.likeP .likePs {
    padding-right: 30px;
}

.p-img:hover {
    .likeP {opacity: 1;}
}

.prow1 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-right: 70px;
}

.p-img {
    width: 100%;
    height: 290px;
    position: relative;
}

.p-img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    cursor: pointer;
}

.p-img:hover img {
    opacity: 70%;
}

.prow2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-right: 70px;
}

.prow3 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-right: 70px;
}

.prow4 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-right: 70px;
}

.prow5 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-right: 70px;
}

.prow6 {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-right: 70px;
}

@media screen and (max-width:600px) {

    .p-img {
        height: 140px;
    }

    .p-img img {
        height: 100%;
        width: 100%;
    }

    .prow1 {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
    }

    .prow2 {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
    }

    .prow3 {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
    }
    .prow4 {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
    }

    .prow5 {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
    }

    .prow6 {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
    }

}

.footer {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.copyRight-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    color: #acabab;
    font-family: Arial, sans-serif;
}

.copyRight-first span {
    font-size: 0.80rem;
    cursor: pointer;
}

.copyRight-first span:hover {
    text-decoration: underline;
}

.copyRightYear-first {
    font-size: 0.80rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #acabab;
    margin-top: 18px;
    font-family: Arial, sans-serif;
}

@media screen  and (max-width: 600px) {

    .copyRight-first {
        gap: 10px;
        font-size: 12px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 5px;
    }
}

.main-footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgb(145, 144, 144);
    background-color: #000;
    align-items: center;
    visibility: hidden;
}

.footerP-img {
    padding-top: 5px;
}

.footerP-img img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.main-footer .div {
    padding: 12px;
    cursor: pointer;
}

.main-footer .div span {
    color: #fff;
    font-size: 28px;
}

@media screen and (max-width: 760px) {
    .main-footer {
        visibility: visible;
    }
}